body {
    display: flow-root;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    vertical-align: baseline;
    color-scheme: dark;
    background-color: rgb(40, 40, 40);

    font: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h1 {
    font-size: xx-large;
    font-weight: bolder;
    margin-block: 0.8em;
}

h2 {
    font-size: x-large;
    font-weight: normal;
    margin-block: 0.8em;
}

p {
    font-size: xx-large;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    padding: 10px;
    border: 2px;
    border-color: white;
    border-style:solid;
}

.hero {
    background-image: linear-gradient(0deg, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 100%), url(images/dii_image.jpg);
    background-position: 50%;
    background-size: cover;
    padding-block: clamp(6.75rem, 6.49rem + 1.3vw, 7.5rem);
    padding-inline: calc((100% - min(50rem,93%)) / 2);
    place-items: center;
}

.hero-banner {
    filter: drop-shadow(0 0.2rem 0.3rem rgba(5, 5, 5, 0.75));
    max-width: clamp(25rem, 30vw, 50rem);
    width: 100%;
    display: block;
    margin: auto;
}

.sections {
    margin: 0;
    padding: 0;
}

.sections-section {
    padding-block: 1rem;
    padding-inline: 1rem;
    background-position: 20%;
    background-size: cover;
    background-repeat: no-repeat;
}

.sections-section-text {
    padding-right: 1rem;
}